@using LaMiaPizzeriaModel.Models;
@{
    Layout = "_LayoutPersonal";
}
@model Pizza

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="d-flex align-items-center">
                <h1 class="mt-3 mb-3">Dettagli pizza</h1>
            </div>
            <div class="post-single-image-container">
                <img src="@Model.Image" width=200px;>
            </div>
            <p>
                <strong>Nome:</strong>
                @Model.Name
            </p>
            <p>
                <strong>Descrizione:</strong>
                @Model.Description
            </p>
            <p>
                <strong>Prezzo</strong>
                @Model.Price
            </p>

        </div>
    </div>
</div>
